.container.hidden-xs
    hr.hr-condensed
    sup Made 2015.
    sup.pull-right
        | Powered by&nbsp;
        a(href="https://www.idolondemand.com/", target="_blank")
            img(src="img/hp_idol_home.png", class="vendor-logo")
        |  and&nbsp;
        a(href="https://www.mailjet.com/", target="_blank")
            img(src="img/logo-mailjet.png", class="vendor-logo")
            | ,
        br
        span.pull-right driven by open source only.
    p &nbsp;
